body {
  background-color: beige;
}

.container {
  width: 80%;
  text-align: center;
}

#header {
  margin: auto;
  width: 100%;
  /* border: 3px solid green; */
  padding: 10px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:black;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
  margin: 1px;
  color: white;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}

.button{
  background-color:tan;
  color: black;
  border-color: black;
}

.button:hover{
  background-color:brown;
}
